@using BestBuyMVC.bestbuy
@model Employee

<h2>Employee</h2>

<table class="table">
    <tr>
        <th>Employee Id</th>
        <th>First Name</th>
        <th>Middle Initial</th>
        <th>Last Name</th>
        <th>Title</th>
        <th>Date of Birth</th>
    </tr>

    <tr>
        <td>@Model.EmployeeId</td>
        <td>@Model.FirstName</td>
        <td>@Model.MiddleInitial</td>
        <td>@Model.LastName</td>
        <td>@Model.Title</td>
        <td>@Model.DateOfBirth</td>
    </tr>
</table>

<h3>Contact Information</h3>

<table class="table">
    <tr>
        <th>Email Address</th>
        <th>Phone Number</th>
    </tr>

    <tr>
        <td>@Model.EmailAddress</td>
        <td>@Model.PhoneNumber</td>
    </tr>
</table>

@*<div style="display: block">
    <a href="/Sale/SalesByEmployee/@Model.EmployeeId">View Employees Sales</a>
</div>*@
@*<form>
    @Html.ActionLink("Sales for Employee", "SalesByEmployee", "Sale")
</form>*@
<div style="display: block">

    @using (Html.BeginForm("SalesByEmployee", "Sale", "Post"))
    {
        <input type="hidden" asp-for="EmployeeId" value="@Model.EmployeeId" />
        <input type="hidden" asp-for="FirstName" value="@Model.FirstName" />
        <input type="hidden" asp-for="LastName" value="@Model.LastName" />
        <input type="submit" value="View Employee's Sales" />
    }
</div>
